#### Read the given dataset apy_1.csv
#### Drop the rows with missing values if any

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('apy_1.csv')

In [3]:
df

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Bihar,NALANDA,1997,Rabi,Wheat,81934.00,160425.00
1,1,Assam,KARBI ANGLONG,2011,Whole Year,Onion,257.00,514.00
2,2,Gujarat,ANAND,2012,Summer,Maize,100.00,100.00
3,3,Karnataka,UTTAR KANNAD,2005,Rabi,Groundnut,2872.00,4572.00
4,4,Uttar Pradesh,JAUNPUR,2008,Rabi,Onion,110.00,1290.00
...,...,...,...,...,...,...,...,...
73822,73822,Bihar,BUXAR,2004,Whole Year,Onion,203.00,1918.00
73823,73823,Madhya Pradesh,RAJGARH,2013,Kharif,Bajra,12.00,11.00
73824,73824,Madhya Pradesh,RAJGARH,1998,Kharif,Groundnut,8700.00,9100.00
73825,73825,Rajasthan,TONK,2000,Kharif,Bajra,34477.00,20137.00
73826,73826,Jharkhand,KODERMA,2002,Winter,Rice,14685.71,18552.95

In [4]:
df.isnull().sum()

Unnamed: 0          0
State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1096
dtype: int64

In [5]:
df.dropna(axis=0)

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Bihar,NALANDA,1997,Rabi,Wheat,81934.00,160425.00
1,1,Assam,KARBI ANGLONG,2011,Whole Year,Onion,257.00,514.00
2,2,Gujarat,ANAND,2012,Summer,Maize,100.00,100.00
3,3,Karnataka,UTTAR KANNAD,2005,Rabi,Groundnut,2872.00,4572.00
4,4,Uttar Pradesh,JAUNPUR,2008,Rabi,Onion,110.00,1290.00
...,...,...,...,...,...,...,...,...
73822,73822,Bihar,BUXAR,2004,Whole Year,Onion,203.00,1918.00
73823,73823,Madhya Pradesh,RAJGARH,2013,Kharif,Bajra,12.00,11.00
73824,73824,Madhya Pradesh,RAJGARH,1998,Kharif,Groundnut,8700.00,9100.00
73825,73825,Rajasthan,TONK,2000,Kharif,Bajra,34477.00,20137.00
73826,73826,Jharkhand,KODERMA,2002,Winter,Rice,14685.71,18552.95

#### 1) Which of the following statement(s) is/are TRUE?
 ##### The overall production during the Kharif season is 1,195,933,000 (approx.)
 ##### The overall production during the Summer season is 34,549,800 (approx.)
 ##### The overall production during the Autumn season is 19,690,400 (approx.)
 ##### None of the above

In [6]:
df.groupby(['Season'])['Production'].sum()

Season
Autumn         1.969044e+07
Kharif         1.195933e+09
Rabi           6.151127e+08
Summer         4.920665e+07
Whole Year     4.315616e+10
Winter         1.321746e+08
Name: Production, dtype: float64

#### 2) Which of the following set of crop(s) is/are produced during the Whole year season? (select option with all that apply)
 ##### Sugarcane, Garlic, Mango, Arhar/Tur
 ##### Paddy, Maize, Moong (Green Gram), Onion, Apple
 ##### Banana, Coriander, Gram, Rapeseed & Mustard, Sweet lime
 ##### Cabbage, Bitter Gourd, Masoor, Cucumbe

In [20]:
df[df["Season"]=='Whole Year'].groupby(["Crop"],sort=True).count()

Empty DataFrame
Columns: [Unnamed: 0, State_Name, District_Name, Crop_Year, Season, Area, Production]
Index: []

#### 3) Which district in India has the lowest crop production?
 ##### Coimbatore
 ##### Thrissur
 ##### Kannur
 ##### Mumbai

In [17]:
df.groupby(["District_Name"])["Production"].sum().sort_values()

District_Name
MUMBAI                2.000000e+00
HYDERABAD             3.060000e+02
NAMSAI                7.940000e+02
RAMGARH               8.930000e+02
RAMBAN                1.578000e+03
                          ...
THIRUVANANTHAPURAM    2.963416e+09
KASARAGOD             3.479150e+09
THRISSUR              3.681628e+09
MALAPPURAM            4.375478e+09
KOZHIKODE             6.012791e+09
Name: Production, Length: 646, dtype: float64

#### 4) During which year did West Bengal have the highest crop production?
  ##### 2013
  ##### 2007
  ##### 1997
  ##### 2006

In [27]:
f=df[df["State_Name"]=="West Bengal"].groupby(["Crop_Year"])["Production"].sum()
f=f.sort_values()
f

Crop_Year
2001      7689550.7
2000      8323849.0
2004      8608367.5
1999      9195580.0
2005      9494050.0
1998      9988608.3
2008     10030521.0
2011     10949803.0
2010     12338035.0
2002     12559002.1
2013     13494606.0
2012     13498244.0
2003     14170705.6
2009     14476077.0
2014     18302156.0
1997     22472430.0
2006    173250298.0
2007    201537048.0
Name: Production, dtype: float64

#### 5) Which state in India has the second highest crop production? (Overall, for all years)
 ##### Andhra Pradesh
 ##### Tamil Nadu
 ##### Kerala
 ##### Uttar Pradesh

In [29]:
l=df.groupby(["State_Name"])["Production"].sum()
l=l.sort_values()
l

State_Name
Chandigarh                     2.923000e+04
Mizoram                        4.704351e+05
Sikkim                         6.453750e+05
Dadra and Nagar Haveli         6.919730e+05
Manipur                        1.560800e+06
Arunachal Pradesh              2.181652e+06
Nagaland                       3.340025e+06
Jharkhand                      3.416858e+06
Jammu and Kashmir              3.870168e+06
Tripura                        3.975350e+06
Meghalaya                      4.059699e+06
Himachal Pradesh               5.828741e+06
Chhattisgarh                   3.260849e+07
Uttarakhand                    3.685920e+07
Odisha                         4.635979e+07
Puducherry                     7.539482e+07
Rajasthan                      8.756090e+07
Haryana                        9.644999e+07
Telangana                      9.946250e+07
Bihar                          1.125670e+08
Madhya Pradesh                 1.300390e+08
Gujarat                        1.500758e+08
Punjab                         1.710590e+08
Goa                            2.367726e+08
Karnataka                      2.640385e+08
Andaman and Nicobar Islands    2.936291e+08
Maharashtra                    3.621771e+08
West Bengal                    5.703789e+08
Assam                          6.019920e+08
Uttar Pradesh                  9.890559e+08
Andhra Pradesh                 3.595973e+09
Tamil Nadu                     4.045188e+09
Kerala                         3.314056e+10
Name: Production, dtype: float64

#### 6) What is the average crop production?
 ##### 17,065,810.29 (approx.)
 ##### 50,857.44 (approx.)
 ##### 242,361.35 (approx.)
 ##### 621,031.95 (approx.)

In [30]:
df["Production"].mean()

621031.9533575787

In [31]:
df.describe()

         Unnamed: 0     Crop_Year          Area    Production
count  73827.000000  73827.000000  7.382700e+04  7.273100e+04
mean   36913.000000   2005.657551  1.218297e+04  6.210320e+05
std    21312.163499      4.954910  5.348285e+04  1.749756e+07
min        0.000000   1997.000000  4.000000e-02  0.000000e+00
25%    18456.500000   2002.000000  8.100000e+01  8.900000e+01
50%    36913.000000   2006.000000  5.900000e+02  7.290000e+02
75%    55369.500000   2010.000000  4.500000e+03  7.200000e+03
max    73826.000000   2015.000000  8.580100e+06  1.125000e+09

#### 7) What is the standard deviation of production?
##### 17,497,558.29 (approx.)
 ##### 50,857.44 (approx.)
 ##### 242,361.35 (approx.)
 ##### 582,503.45 (approx.)

In [33]:
np.std(df["Production"])

17497437.99787079

#### 8) Due to some unknown reasons, the crop production for only two states was recorded for 2015. Which states are they?
 ##### Tamil Nadu and Kerala
 ##### Kerala and Andhra Pradesh
 ##### Odisha and Sikkim
 ##### Sikkim and Punjab

In [39]:
m=df[df["Crop_Year"]==2015].groupby(["State_Name"])["Production"].sum()
m.sort_values()

State_Name
Sikkim      12944.0
Odisha    2101103.1
Name: Production, dtype: float64

#### 9) The top three produced crops in the year 2005 are ______
 ##### Wheat, Potato, Rice
 ##### Coconut, Potato, Sugarcane
 ##### Coconut, Sugarcane, Rice
 ##### Sugarcane, Rice, Wheat

In [41]:
n=df[df["Crop_Year"]==2005].groupby(["Crop"])["Production"].sum()
n.sort_values()

Crop
other oilseeds             1.320000e+02
Cardamom                   6.330000e+02
Sannhamp                   1.520500e+03
Oilseeds total             4.066000e+03
Other Cereals & Millets    1.771840e+04
Niger seed                 2.178100e+04
Cashewnut                  2.552022e+04
Other  Rabi pulses         3.138100e+04
Black pepper               3.699095e+04
Linseed                    4.511500e+04
Other Kharif pulses        4.870190e+04
Horse-gram                 5.050140e+04
Moth                       5.253100e+04
Peas & beans (Pulses)      6.438700e+04
Tobacco                    7.230860e+04
Small millets              9.555200e+04
Castor seed                9.884800e+04
Turmeric                   1.023300e+05
Coriander                  1.072420e+05
Safflower                  1.135730e+05
Masoor                     1.199445e+05
Khesari                    1.374330e+05
Sweet potato               1.395124e+05
Guar seed                  1.863670e+05
Mesta                      1.913420e+05
Urad                       1.929020e+05
Dry chillies               2.064979e+05
Dry ginger                 2.214940e+05
Ragi                       2.273326e+05
Garlic                     2.376830e+05
Sunflower                  2.825520e+05
Moong(Green Gram)          2.877472e+05
Sesamum                    2.975051e+05
Barley                     4.064190e+05
Arecanut                   5.002335e+05
Arhar/Tur                  9.327981e+05
Jowar                      1.055894e+06
Tapioca                    1.294518e+06
Gram                       1.473350e+06
Groundnut                  1.514708e+06
Rapeseed &Mustard          1.836295e+06
Jute                       1.865302e+06
Bajra                      2.230519e+06
Soyabean                   2.726688e+06
Onion                      2.968874e+06
Banana                     3.591008e+06
Maize                      4.378044e+06
Cotton(lint)               4.882576e+06
Potato                     5.478746e+06
Wheat                      1.678397e+07
Rice                       2.874587e+07
Sugarcane                  1.050091e+08
Coconut                    2.700626e+09
Name: Production, dtype: float64

#### 10) State whether the given statements are True or False

##### I.Crop year and Area are weakly correlated
##### II.Crop year and Production are strongly correlated

 ##### I - True, II - False
 ##### I - False, II - True
 ##### I - False, II - False
 ##### I - True, II - True

In [43]:
df.corr()

            Unnamed: 0  Crop_Year      Area  Production
Unnamed: 0    1.000000  -0.002016  0.000864    0.001313
Crop_Year    -0.002016   1.000000 -0.023720    0.007422
Area          0.000864  -0.023720  1.000000    0.041043
Production    0.001313   0.007422  0.041043    1.000000

#### 11) Which year has the lowest crop production?
 ##### 2011
 ##### 2010
 ##### 2015
 ##### 2009

In [45]:
p=df.groupby(["Crop_Year"])["Production"].sum()
p.sort_values()

Crop_Year
2015    2.114047e+06
1997    2.768054e+08
1998    5.356398e+08
2014    1.390088e+09
2003    1.394080e+09
2007    1.771568e+09
1999    1.873175e+09
2000    1.964593e+09
2013    2.023688e+09
2008    2.088889e+09
2002    2.616621e+09
2010    2.654638e+09
2005    2.892020e+09
2001    3.086705e+09
2006    3.709813e+09
2009    3.739178e+09
2012    3.876649e+09
2004    3.896185e+09
2011    5.375825e+09
Name: Production, dtype: float64

#### 12) The crop that Maharashtra produced the most is ________
 ##### Sugarcane
 ##### Rice
 ##### Banana
 ##### Coconut

In [ ]:
df[df["State_Name"]=='Maharashtra'].groupby(["Crop"])["Production"].s