### i.Read the given dataset apy_2.csv
### ii.Drop the rows with missing values, if any

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('apy_2.csv')

In [3]:
df

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0
...,...,...,...,...,...,...,...,...
73822,73822,Uttar Pradesh,SULTANPUR,2001,Rabi,Rapeseed &Mustard,3727.0,3239.0
73823,73823,Chhattisgarh,DURG,2014,Rabi,Wheat,6364.0,7367.0
73824,73824,Uttar Pradesh,RAE BARELI,2010,Summer,Moong(Green Gram),489.0,224.0
73825,73825,Assam,KAMRUP,1998,Rabi,Wheat,6431.0,6940.0
73826,73826,Andhra Pradesh,GUNTUR,2005,Rabi,Urad,100125.0,78298.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73827 entries, 0 to 73826
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     73827 non-null  int64
 1   State_Name     73827 non-null  object
 2   District_Name  73827 non-null  object
 3   Crop_Year      73827 non-null  int64
 4   Season         73827 non-null  object
 5   Crop           73827 non-null  object
 6   Area           73827 non-null  float64
 7   Production     72679 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 4.5+ MB

In [5]:
df.describe()

         Unnamed: 0     Crop_Year          Area    Production
count  73827.000000  73827.000000  7.382700e+04  7.267900e+04
mean   36913.000000   2005.618134  1.186849e+04  4.426138e+05
std    21312.163499      4.957966  4.884827e+04  1.346706e+07
min        0.000000   1997.000000  5.000000e-02  0.000000e+00
25%    18456.500000   2002.000000  7.900000e+01  8.600000e+01
50%    36913.000000   2006.000000  5.730000e+02  7.240000e+02
75%    55369.500000   2010.000000  4.335000e+03  6.900000e+03
max    73826.000000   2015.000000  4.205800e+06  1.001000e+09

In [6]:
df.shape

(73827, 8)

In [7]:
df.isnull().sum()

Unnamed: 0          0
State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1148
dtype: int64

In [8]:
df=df.dropna(axis=0)

In [10]:
df.isnull().sum()

Unnamed: 0       0
State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [11]:
df

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0
...,...,...,...,...,...,...,...,...
73822,73822,Uttar Pradesh,SULTANPUR,2001,Rabi,Rapeseed &Mustard,3727.0,3239.0
73823,73823,Chhattisgarh,DURG,2014,Rabi,Wheat,6364.0,7367.0
73824,73824,Uttar Pradesh,RAE BARELI,2010,Summer,Moong(Green Gram),489.0,224.0
73825,73825,Assam,KAMRUP,1998,Rabi,Wheat,6431.0,6940.0
73826,73826,Andhra Pradesh,GUNTUR,2005,Rabi,Urad,100125.0,78298.0

#### 1) Which of these crops are produced during the Summer season? (select option with all that apply)
 ##### Arecanut, Arhar/Tur, Bajra, Castor seed
 ##### Paddy, Maize, Moong (Green Gram), Onion, Sunflower
 ##### Banana, Coriander, Gram, Rapeseed & Mustard
 ##### Rice, Sugarcane, Paddy, Tomato

In [22]:
k=df[(df["Season"]=='Summer     ')].groupby(["Crop"])['Production'].sum()
k.sort_values()

Crop
Other  Rabi pulses              3.0
Small millets                  11.0
Turmeric                       20.0
Horse-gram                    287.6
Brinjal                       552.0
Total foodgrain               617.0
Dry ginger                    860.0
Cowpea(Lobia)                2511.0
Arhar/Tur                    3198.0
Sugarcane                    4570.0
Tobacco                      5318.0
Peas & beans (Pulses)       10066.0
Cotton(lint)                10622.0
Wheat                       17009.9
Dry chillies                54145.0
Jowar                       59373.0
Ragi                       103252.8
Urad                       107210.8
Potato                     168904.0
Sunflower                  170886.0
Banana                     272080.0
Onion                      596379.0
Sesamum                    618864.8
Moong(Green Gram)          735738.3
Paddy                     1638436.0
Bajra                     1779222.0
Groundnut                 2083123.3
Maize                     4840564.0
Rice                     38709052.2
Name: Production, dtype: float64

#### 2) During which year did Haryana have the highest crop production?
 ##### 2013
 ##### 2011
 ##### 1997
 ##### 2008

In [55]:
df[df['State_Name']=='Haryana'].groupby(['Crop_Year'])['Production'].sum().sort_values(ascending=False)

Crop_Year
2008    9647100.0
2005    9328300.0
2011    9021300.0
2003    8437562.0
2012    7996416.0
2002    7837700.0
2004    7523400.0
2007    7323500.0
1999    7188901.0
2001    7009900.0
1998    6653600.0
2006    6566600.0
2000    5872800.0
2010    5548900.0
2009    5214480.0
1997    3376800.0
Name: Production, dtype: float64

#### 3) The maximum and minimum area for production were in the years?
 ##### 1997 and 2014
 ##### 1998 and 2015
 ##### 1997 and 2015
 ##### 1999 and 2005

In [29]:
df.groupby(['Crop_Year'])['Area'].sum().sort_values()

Crop_Year
2015     1313314.00
2014    34188857.84
2013    41895685.00
2001    43603438.77
2012    44369268.00
2007    44971304.38
2005    45296672.88
2011    45835655.41
2002    48328531.15
2003    48954140.97
1998    49317287.00
2008    49604477.00
2000    50530198.00
2009    50772638.00
2010    50813109.78
2006    51393712.02
1999    51841049.00
2004    53445367.24
1997    68245111.00
Name: Area, dtype: float64

#### 4) Which state in India had the second lowest crop production? (overall, for all years)
#####  Meghalaya
 ##### Chandigarh
 ##### Mizoram
 ##### Manipur

In [30]:
df.groupby(['State_Name'])['Production'].sum().sort_values()

State_Name
Chandigarh                     1.580450e+04
Mizoram                        4.579428e+05
Sikkim                         5.507250e+05
Dadra and Nagar Haveli         6.247060e+05
Manipur                        1.658617e+06
Arunachal Pradesh              2.035912e+06
Jharkhand                      3.319141e+06
Meghalaya                      3.639914e+06
Nagaland                       3.925012e+06
Jammu and Kashmir              4.018134e+06
Tripura                        4.278173e+06
Himachal Pradesh               5.198802e+06
Chhattisgarh                   3.132986e+07
Uttarakhand                    4.017398e+07
Odisha                         4.563306e+07
Puducherry                     7.326832e+07
Rajasthan                      8.671658e+07
Haryana                        1.145473e+08
Bihar                          1.151581e+08
Telangana                      1.202722e+08
Madhya Pradesh                 1.337226e+08
Goa                            1.421826e+08
Gujarat                        1.538659e+08
Punjab                         1.724376e+08
Andaman and Nicobar Islands    2.032759e+08
Karnataka                      2.637879e+08
Maharashtra                    3.930627e+08
Assam                          5.201106e+08
West Bengal                    5.327023e+08
Uttar Pradesh                  1.069989e+09
Tamil Nadu                     1.787126e+09
Andhra Pradesh                 3.141848e+09
Kerala                         2.299779e+10
Name: Production, dtype: float64

#### 5) What were the top three produced crops in the year 2012?
 ##### Wheat, Potato, Rice
 ##### Coconut, Potato, Sugarcane
 ##### Coconut, Sugarcane, Rice
 ##### Rice, Sugarcane, Maize

In [32]:
df[df["Crop_Year"]==2012].groupby(["Crop"])['Production'].sum().sort_values(ascending=False)

Crop
Coconut           1.208299e+09
Sugarcane         1.143474e+08
Rice              3.371318e+07
Wheat             2.448045e+07
Potato            1.006466e+07
                      ...
Pome Granet       8.720000e+02
Blackgram         7.000000e+01
Grapes            1.800000e+01
Cardamom          1.200000e+01
other oilseeds    1.000000e+00
Name: Production, Length: 69, dtype: float64

#### 6) What is the standard deviation for Area of production?
#####  52957.44 (approx.)
 ##### 12167.42 (approx.)
 ##### 49177.60 (approx.)
 ##### 48848.27 (approx.)

In [36]:
import statistics
statistics.stdev(df['Area'])

49177.60312712377

#### 7) Which is the crop that gave the highest production to the state of Andhra Pradesh?
 ##### Sugarcane
 ##### Wheat
 ##### Banana
 ##### Coconut

In [37]:
df[df['State_Name']=="Andhra Pradesh"].groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Coconut              2.979218e+09
Sugarcane            7.585185e+07
Rice                 4.599650e+07
Groundnut            5.430417e+06
Maize                4.853811e+06
                         ...
Cucumber             0.000000e+00
Bottle Gourd         0.000000e+00
Other Vegetables     0.000000e+00
Peas  (vegetable)    0.000000e+00
other fibres         0.000000e+00
Name: Production, Length: 67, dtype: float64

#### 8) Which of the following statements is true? (Select all that applies)
##### The overall production during the Kharif season is 2,029,970,000 (approx.)
##### The overall production during the Summer season is 51,992,900 (approx.)
##### The overall production during the Autumn season is 14,413,770 (approx.)
##### The overall production during the Kharif season is 1,282,056,700 (approx.)

In [39]:
df[df['Season']=='Summer     ']['Production'].sum()

51992876.699999996

In [40]:
df[df['Season']=='Autumn     ']['Production'].sum()

18896594.060000002

In [41]:
df[df['Season']=='Kharif     ']['Production'].sum()

1282056680.69

#### 9) Which state has the lowest area of production?
##### Puducherry
##### Chandigarh
##### Kerala
##### Goa

In [42]:
df.groupby(["State_Name"])['Area'].sum().sort_values()

State_Name
Chandigarh                     2.791000e+03
Andaman and Nicobar Islands    8.531894e+04
Dadra and Nagar Haveli         1.182820e+05
Puducherry                     1.206340e+05
Goa                            2.702040e+05
Mizoram                        2.711313e+05
Sikkim                         3.922050e+05
Manipur                        6.121800e+05
Meghalaya                      1.270237e+06
Arunachal Pradesh              1.283609e+06
Tripura                        1.605874e+06
Nagaland                       1.800631e+06
Jammu and Kashmir              2.744164e+06
Jharkhand                      2.748473e+06
Himachal Pradesh               2.897344e+06
Uttarakhand                    5.714422e+06
Kerala                         8.871677e+06
Assam                          2.065623e+07
Telangana                      2.225371e+07
Chhattisgarh                   2.547540e+07
Haryana                        2.756965e+07
Tamil Nadu                     2.922639e+07
Odisha                         3.132268e+07
Punjab                         3.692255e+07
Andhra Pradesh                 3.864198e+07
Bihar                          3.881541e+07
Gujarat                        4.835700e+07
Karnataka                      5.735193e+07
West Bengal                    6.637353e+07
Rajasthan                      8.258156e+07
Maharashtra                    9.356024e+07
Madhya Pradesh                 9.968280e+07
Uttar Pradesh                  1.251196e+08
Name: Area, dtype: float64

#### 10) What is the mean for the area of production?
 ##### 17065.81 (approx.)
 ##### 12035.39 (approx.)
 ##### 11868.49 (approx.)
 ##### 58250.34 (approx.)

In [43]:
df['Area'].mean()

12035.385977242398

#### 11) What is the correlation coefficient between Area and Production?
##### 37.686
##### 0.37686
##### 3.7686
##### 0.037686

In [45]:
df.corr()

            Unnamed: 0  Crop_Year      Area  Production
Unnamed: 0    1.000000  -0.007143  0.002912    0.002058
Crop_Year    -0.007143   1.000000 -0.025927    0.005928
Area          0.002912  -0.025927  1.000000    0.037686
Production    0.002058   0.005928  0.037686    1.000000

In [46]:
r=np.corrcoef(df['Area'],df['Production'])
r

array([[1.      , 0.037686],
       [0.037686, 1.      ]])

#### 12) The crops that had the highest production (in the correct order) were?
##### Coconut, Sugarcane, Cucumber, Potato, Rice
##### Gram, Jute, Soya bean, Maize, Cotton
##### Coconut, Sugarcane, Rice, Wheat, Potato
##### Sugarcane, Wheat, Soya bean, Potato, Coconut

In [48]:
df.groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Coconut               2.870917e+10
Sugarcane             1.769219e+09
Rice                  4.744665e+08
Wheat                 3.849682e+08
Potato                1.250747e+08
                          ...
Ber                   0.000000e+00
Cucumber              0.000000e+00
Pump Kin              0.000000e+00
Other Citrus Fruit    0.000000e+00
Apple                 0.000000e+00
Name: Production, Length: 122, dtype: float64

#### 13) Which is the only crop that has the highest production during autumn, summer, and winter?
##### Rice
##### Maize
##### Paddy
##### Jute

In [49]:
df[df['Season']=='Summer     '].groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Rice                     38709052.2
Maize                     4840564.0
Groundnut                 2083123.3
Bajra                     1779222.0
Paddy                     1638436.0
Moong(Green Gram)          735738.3
Sesamum                    618864.8
Onion                      596379.0
Banana                     272080.0
Sunflower                  170886.0
Potato                     168904.0
Urad                       107210.8
Ragi                       103252.8
Jowar                       59373.0
Dry chillies                54145.0
Wheat                       17009.9
Cotton(lint)                10622.0
Peas & beans (Pulses)       10066.0
Tobacco                      5318.0
Sugarcane                    4570.0
Arhar/Tur                    3198.0
Cowpea(Lobia)                2511.0
Dry ginger                    860.0
Total foodgrain               617.0
Brinjal                       552.0
Horse-gram                    287.6
Turmeric                       20.0
Small millets                  11.0
Other  Rabi pulses              3.0
Name: Production, dtype: float64

In [50]:
df[df['Season']=='Autumn     '].groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Rice                     14820963.70
Maize                     3089100.78
Paddy                      521140.00
Jute                       155210.90
Ragi                       121504.38
Groundnut                   97968.50
Urad                        39608.00
Moong(Green Gram)           24799.50
Dry chillies                10513.00
Sesamum                      5302.10
Banana                       3980.00
Arhar/Tur                    3937.00
Sugarcane                    1291.20
Small millets                 595.00
Dry ginger                    360.00
Tapioca                       130.00
Potato                        100.00
Peas & beans (Pulses)          50.00
Onion                          20.00
Turmeric                       20.00
Name: Production, dtype: float64

In [51]:
df[df['Season']=='Kharif     '].groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Sugarcane          5.885822e+08
Rice               2.807121e+08
Cotton(lint)       9.283339e+07
Jute               6.814935e+07
Maize              5.985259e+07
                       ...
Arecanut           2.190000e+02
Black pepper       1.910000e+02
Cond-spcs other    1.852000e+02
Linseed            1.800000e+02
Safflower          6.200000e+01
Name: Production, Length: 80, dtype: float64

In [54]:
df[df['Season']=='Winter     '].groupby(['Crop'])['Production'].sum().sort_values(ascending=False)

Crop
Rice                     1.113293e+08
Potato                   8.277893e+06
Sugarcane                4.839051e+06
Paddy                    4.622613e+06
Horse-gram               8.732610e+04
Ragi                     8.064870e+04
Urad                     7.479070e+04
Moong(Green Gram)        6.656960e+04
Sesamum                  3.270780e+04
Arhar/Tur                1.260100e+04
Groundnut                1.229040e+04
Rapeseed &Mustard        9.776100e+03
Banana                   8.770000e+03
Maize                    3.129800e+03
Wheat                    1.652000e+03
Dry chillies             7.000000e+02
Gram                     5.740000e+02
Niger seed               3.015000e+02
Peas & beans (Pulses)    1.100000e+02
Sannhamp                 7.300000e+01
Dry ginger               4.000000e+01
Sweet potato             3.000000e+01
Onion                    2.000000e+01
Name: Production, dtype: float64